.blogs__list{
	display: flex;
	flex-wrap: wrap;
}

.blogs__item{
	max-width: 380px;
	margin: 0 20px 30px 0;
}

.blogs__item h2:hover{
	text-decoration: underline;
}

.blogs__item:nth-child(3n){
	margin-right: 0;
}

.blogs__item img{
	margin: 0 0 20px 0;
}

.blogs__date{
	margin: 0 0 7px 0;
	font-size: 16px;
	line-height: 22px;
	color: #818181;
}

.blogs__item h2{
	margin: 0 0 15px 0;
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
}

.blog__text{
	font-size: 18px;
	line-height: 25px;
}

