/* SLIDER */

.slider{
	margin: 0 0 90px 0;
}

/* PRODUCTS */

.products{
	margin: 0 0 90px 0;
}

.products h2{
	font-size: 38px;
	line-height: 46px;
	text-transform: uppercase;
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	margin: 0 0 30px 0;
}

.products__catalog{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 30px 0;
}

.products__button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 37px;
	width: 37px;
	background: rgba(112, 187, 220, 0.2);
}

.products__button_b{
	margin: 0 6px 0 0;
}

.products__button_f{
	 margin: 0 20px 0 0;
}	

.products__control{
	display: flex;
	align-items: center;
}

.products__control p{
	font-size: 16px;
	line-height: 22px;
	max-width: 580px;
}

/* DELIVERY */

.delivery{
	display: flex;
	margin: 0 0 90px 0;
}

.delivery img{
	margin: 0 60px 0 0;
}

.delivery__content{
	padding: 0 0 0 60px;
}

.delivery__content h2{
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	margin: 30px 0 6px 0;
	font-size: 38px;
	line-height: 46px;
	text-transform: uppercase;
}

.delivery__content p{
	margin: 0 0 15px 0;
}

.delivery__item{
	padding: 11px 0;
	max-width: 326px;
	margin: 0 0 0 -60px;
	padding: 11px 0 11px 60px;
}

.delivery__item_active{
	background: rgba(112, 187, 220, 0.2);
}

.delivery__item button{
	font-family: "Crimson Text", "Arial", sans-serif;
	font-style: italic;
	font-size: 26px;
	line-height: 32px;
	cursor: pointer;
	background: none;
}

.delivery__item_active button{
	font-weight: bold;
}

.delivery__content p{
	font-size: 16px;
	line-height: 22px;
	max-width: 480px;
}

.delivery__links{
	margin: 0 0 19px 0;
}

.delivery__button{
	margin: 16px 0 0 0;
}

/* COMPANY */

.company{
	margin: 0 0 115px 0;
}

.company__list{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* ABOUT */

.about{
	display: flex;
	align-items: flex-start;
	margin: 0 0 60px 0;
}

.about h2{
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	font-size: 38px;
	line-height: 46px;
	text-transform: uppercase;
	max-width: 483px;
}

.about h3{
	font-family: "Crimson Text", "Arial", sans-serif;
	font-style: italic;
	font-size: 26px;
	line-height: 32px;
	max-width: 483px;
}

.about p{
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	max-width: 483px;
}

.about__design{
	margin: 0 57px 0 0;
	padding: 0 30px;
	background: #E1F0F7;
}

.about__background{
	background: #E1F0F7;
    padding: 25px 30px 0 30px;
}

.about__design h2{
	margin: -25px 0 10px 0;
}

.about__design h3{
	margin: 0 0 10px 0;
}

.about__design p{
	margin: 0 0 20px 0;
}

.about__design button{
	margin: 0 0 27px 0;
}

.about__background h2{
	margin: -50px 0 20px 0;
}

.about__contacts{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about__contacts p{
	margin: 0 0 102px 0;
}

.about__contacts img{
	margin: -82px 0 0 0;
}